<!DOCTYPE html>

<html>

<head>
     <link rel="icon" href="/img/wether.jpeg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="mainCls">
        {{>header}}
        <p>this site is created by parth patel. and use mapbox.com and darksky.com!!</p>
        <img class="picCls" src="/img/1.jpg">
        <p>{{name}}</p>
    </div>

    {{>footer}}
</body>

</html>