<!DOCTYPE html>

<html>

<head>
     <link rel="icon" href="/img/wether.jpeg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
    <div class="mainCls">
         <p>{{message}}</p>
    </div>
   
    {{>footer}}
</body>

</html>